
@import 'utilities.css';
@import 'jquiry.css';



*{
    padding: 0;margin: 0; 
    -webkit-font-smotthing:antialised;
    box-sizing:border-box;
}
body{
    width: 100%;
    /* height: 2000px; */
    /* background-color: var(--pure); */
}

:root{
    --primery:#3DCFD3;;
    --dark:#161616;
    --pure:#ffffff;
    --ternary:#898989;
    --light:#f2f2f2;
    --brightpink:#FF0080;
}
header{
    /* position: fixed; */
    width: 100%;
    clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%)
    
}

header nav .right a{
    color: var(--pure);
    padding:0px 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;

    
}
a:active{
    color: var(--primery);
}

header nav .right a:hover{
    color:var(--primery);
    transition: all 0.9s;
}
header {
    background-color: var(--dark);
    color: var(--pure);
}
header nav .left a{
    color: var(--brightpink);
    font-size: 30px;
    color: var(--brightpink);
    text-decoration: none;
    
}
.banner{
   padding: 3rem 0;
}

.banner .left img{
    padding: 0 0;
    /* border:5px solid var(--primery); */
    border-radius:  50%;
    
}


.banner .right h6{
    font-size: 1.5rem;
    color:var(--brightpink)
    
}
.banner .right h1{
    font-size: 4rem;
    line-height: 1.0;
    margin-bottom: 2rem;
}
.banner .right h1 span{
    color: var(--brightpink);
}
.banner .right p{
    font-size: 16px;
    line-height: 1.9;
    margin-bottom:2rem;
}
.banner .right{
    margin-top:-7rem;
}
.aboutme{
    /* border: 2px solid black; */
    
}
.rightc{
    padding-top:50px;
      
}
.right-col h2{
    font-size: 30px;

}
.social-icon i{
    font-size: 50px;
    /* background-color: blue; */
    color:blue;
    margin: 0px 10px;
}
.about{
    margin-top:80;
    
}

.services{
    background-color: var(--light);
    /* padding: 50px 0; */
    margin:30px 0;

}
.hire-me{
    width: 100%;
    /* height: 300px; */
    text-align: center;
   padding-top:125px;
    /* background-color:pink; */
    /* position:fixed; */
    margin: 30px 0;
}
.hire{
    height:300px;
    background-color: pink;
    /* position: fixed; */
}
.cv img{
    width: 100%;
}
.cv .button2 a{
    
    text-decoration: none;

}
.heading{
    margin: 50px 0;
}
.subheading{
    padding-bottom:20px;
}
.project-img img{
    -webkit-transition: all 0.2 ease-in-out;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.projects, .project-img{
    position: relative;
    overflow: hidden;

}
.project-title{
    margin: 20px 0 7 px;

}
.overlay{
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .6s ease-in-out;
}
.project-title{
    opacity: 0;
    position: absolute;
    top:60%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    color: white;
    -webkit-transition: all .6s ease-in-out;
    
}

.project-title p{
    color:white;
    font-size: 2rem;

}
.project-img:hover .project-title{
    opacity: 1;
}
.project-img:hover .overlay{
    opacity: 1;
}

.main-box{
    margin-bottom: 50px;
}
.footer a{
    text-decoration: none;
    color: white;
}




    
